<a href="https://colab.research.google.com/github/faznafathima/ICTAK/blob/main/CASE_STUDY_ON_TESING_OF_HYPOTHESIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CASE STUDY ON TESTING OF HYPOTHESIS**

Data: Sales_add.csv



---



---

## **IMPORTING NECESSARY LIBRARIES**

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats

## **READ THE DATA**

In [3]:
data=pd.read_csv(r"/content/drive/MyDrive/Sales_add.csv")
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

To analyze the given data and address the company's study questions, we can perform hypothesis tests and explore the dependency between the features "Region" and "Manager."

# **Question 1: Clarifying whether there is any increase in sales after stepping into digital marketing.**

In [6]:
# we can perform a hypothesis test comparing the sales before and after the digital marketing campaign. 
# we'll use a paired t-test to determine if there is a significant difference in the means.

# Perform paired t-test
t_statistic, p_value = stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])

# Check the p-value
print(p_value)
if p_value < 0.05:
    result = "There is a significant increase in sales after stepping into digital marketing."
else:
    result = "There is no significant increase in sales after stepping into digital marketing."

print(result)

6.336667004575778e-11
There is a significant increase in sales after stepping into digital marketing.

Based on the paired t-test results, with a significance level of 0.05, we can conclude that there is a **significant increase in sales after stepping into digital marketing**. The extremely small p-value suggests strong evidence against the null hypothesis, indicating that the mean sales before and after the digital marketing campaign are significantly different. This implies that the company's investment in digital marketing has had a positive impact on sales.

# **Question 2: Checking whether there is any dependency between the features "Region" and "Manager."**

To analyze the dependency between "Region" and "Manager," we can perform a chi-square test of independence. This test will help determine if there is a significant association between the two categorical variables.

In [7]:
# Create a contingency table
contingency_table = pd.crosstab(data['Region'], data['Manager'])

# Perform chi-square test of independence
chi2_stat, p_value, _, _ = stats.chi2_contingency(contingency_table)

# Check the p-value
print(p_value)
if p_value < 0.05:
    result = "There is a significant dependency between Region and Manager."
else:
    result = "There is no significant dependency between Region and Manager."

print(result)

0.5493991051158094
There is no significant dependency between Region and Manager.

Based on the chi-square test of independence results, with a significance level of 0.05, we do not have sufficient evidence to conclude that there is a significant dependency between the Region and Manager variables. The p-value suggests that the observed differences in the distribution of managers across regions could be due to random chance. Hence, we fail to reject the null hypothesis of independence, indicating that there is **no significant association between the region and manager** variables in terms of the distribution of data.
This suggests that the choice of manager does not appear to be influenced by the region in which they are assigned.

In [8]:
# Create a contingency table
contingency_table = pd.crosstab(data['Region'], data['Manager'])
print(contingency_table)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1



---



---